@(
    groupedEvents: scala.collection.SortedMap[org.joda.time.LocalDate, Seq[model.RichEvent.RichEvent]],
    pageInfo: model.PageInfo,
    listLocations: Seq[model.EventFilterLink],
    paramLocation: Option[String],
    listPeriods: List[model.PeriodGroup],
    paramPeriod: Option[String],
    listProviders: Seq[model.EventFilterLink],
    paramProvider: Option[String]
)

@dateGroup(title: String, events: Seq[model.RichEvent.RichEvent], classes: Seq[String] = Nil) = {
    <section class="date-listing @classes.mkString(" ")">
        <div class="date-listing__lead-in">
            <h3 class="date-listing__title">@title</h3>
        </div>
        <div class="date-listing__content">
            <ul class="grid grid--3up grid--bordered">
            @for(event <- events) {
                <li class="grid__item">
                    @fragments.event.item(event, showPrice=false)
                </li>
            }
            </ul>
        </div>
    </section>
}

@main("Calendar | What's On", pageInfo) {
    <main role="main" class="page-content l-constrained">

        @fragments.page.pageHeader("Calendar", None)

        <form method="get" class="js-form-autosubmit">
            <select name="location">
                <option value="all">All locations</option>
                @for(c <- listLocations) {
                    <option value="@c.slug"@if(paramLocation.getOrElse("")==c.slug){ selected="selected"}>@c.name (@c.count)</option>
                }
            </select>
            <select name="period">
                <option value="all">All dates</option>
                @for(p <- listPeriods) {
                    <option value="@p.slug"@if(p.slug==paramPeriod.getOrElse("")){ selected="selected"}>@p.name</option>
                }
            </select>
            <select name="provider">
                <option value="all">All providers</option>
                @for(c <- listProviders) {
                    <option value="@c.slug"@if(paramProvider.getOrElse("")==c.slug){ selected="selected"}>@c.name.toLowerCase.capitalize (@c.count)</option>
                }
            </select>
            <input type="submit" value="Apply filter" />
            <a href="@routes.WhatsOn.calendarGrid(None, None, None)">clear filters</a>
        </form>

        <div class="filter-bar">
            <a class="action action--no-icon" href="@routes.WhatsOn.calendarList" aria-title="View events as a list" title="View events as a list">
                @fragments.actionIcon("list-view", leftIcon=true)
                List view
            </a>
        </div>

        @for(group <- groupedEvents.headOption) {
            @dateGroup(group._1.toString("MMMMM Y"), group._2, List("date-listing--lead"))
        }
        @for(group <- groupedEvents.drop(1)) {
            @dateGroup(group._1.toString("MMMMM Y"), group._2)
        }

    </main>
}
