@import com.gu.i18n.Currency
@import model.PaidTierDetails

@(details: PaidTierDetails, cg: CountryGroup)

<fieldset class="fieldset js-payment-options-container">

    <div class="fieldset__heading">
        <h2 class="fieldset__headline">Select payment option</h2>
        <div class="fieldset__note">Price includes VAT</div>
    </div>

    <div class="fieldset__fields">

        <div class="form-field">
         @fragments.billingPeriodChoice(details, cg)
        </div>
    </div>
</fieldset>
