@import com.gu.i18n.Currency
@import com.gu.membership.MembershipCatalog
@import com.gu.salesforce.Tier._
@import com.gu.salesforce._
@import views.support.DisplayText._
@import views.support.Pricing._
@(
    tier: Tier,
    currency: Currency,
    catalog: MembershipCatalog,
    showDescription: Boolean = true,
    descriptionAnchor: Option[String] = None,
    modifierClass: Option[String] = None,
    extraClasses: Seq[String] = Seq.empty,
    isReversed: Boolean = false,
    chooseTier: Boolean = false
)

@link(tier: Tier) = {
    @tier match {
        case paid: PaidTier => { @routes.Joiner.enterPaidDetails(paid) }
        case _: FreeTier => { @routes.Joiner.enterFriendDetails() }
    }
}

@actionAttrs = {
    href="@link(tier)"
    data-metric-trigger="click"
    data-metric-category="join"
    data-metric-action="@tier.slug"
}

<div class="@if(isReversed){ package-promo--reversed} @modifierClass.getOrElse("package-promo--default") @extraClasses.mkString("") tone-border-@tier.slug">
    <div class="package-promo__header">
        <a class="no-underline minimal-link" @actionAttrs>
            <div class="package-promo__tier">
                <div class="package-promo__tier__title">
                    @fragments.tier.tierTrail(tier, showCaption=false)
                </div>
            </div>
        </a>
    </div>
    <div class="package-promo__content">
        @if(showDescription) {
            <div class="package-promo__description copy">
                <ul class="o-bulleted-list">
                    @for(highlight <- if(chooseTier && tier == patron) tier.chooseTierPatron else tier.highlights) {
                        <li>
                            @if(highlight.isNew) {
                                @fragments.inlineIcon("new-arrow", List("icon-inline--badge", "icon-inline--brand"))
                            }
                            @highlight.description
                        </li>
                    }
                </ul>
                @if(descriptionAnchor) {
                    <p class="o-caption tablet-only"><a href="@descriptionAnchor">What's included</a></p>
                }
            </div>
        }
        <div class="package-promo__actions">
            <div class="package-promo__actions__pricing">
               @tier match {
                   case t: FreeTier => { @fragments.pricing.freePriceInfo() }
                   case t: PaidTier => { @fragments.pricing.paidPriceInfo(catalog.paidPlans(t).pricingByCurrencyOrGBP(currency), t) }
               }
            </div>
            <a class="action action--no-icon u-no-bottom-margin qa-package-@tier.slug" @actionAttrs>
                <span class="action__label">
                    Become a @tier.name
                </span>
                @fragments.actionIcon("arrow-right")
            </a>
        </div>
    </div>
</div>
