@import views.support.DisplayText._
@import com.gu.i18n.CountryGroup

@import com.gu.salesforce.PaidTier
@import com.gu.membership.MembershipCatalog
@(tier: PaidTier, countryGroup: CountryGroup, catalog: MembershipCatalog, isReversed: Boolean = false)

<div class="package-feature">
    <div class="package-feature__promo">
        @fragments.tier.packagePromo(tier, countryGroup.currency, catalog, isReversed=isReversed, modifierClass=Some("package-promo--always-narrow"))
    </div>
    <div class="package-feature__benefits copy">
        <div class="package-feature__leadin tone-border-@tier.slug">
            @tier.leadin
        </div>
        <ul>
            @for(benefit <- tier.detailsLimited(countryGroup)) {
                <li>@benefit.title</li>
            }
        </ul>
    </div>
</div>
